discord.py==2.4.0
dispander~=0.5.0
# aiohttpはdiscord.pyが対応していないバージョンにアップグレードしないよう、敢えて記載なし
sentry-sdk
aiolimiter~=1.0.0b1
python-dotenv==0.19.2
feedparser==6.0.11
streamlink==6.8.1
async_timeout==4.0.3